
* {
    font-family: 'Inter', system-ui;
    border-style: solid;
    border-width: 0px;
    box-sizing: border-box;
}

ul:hover{
  color: none;
}

p{
    width: 100%;
}

a {
    font-size: 0.875rem;
    text-decoration: none;
    color: #243E63;
    font-weight: bold;
    margin: 0px 1.5rem;
    padding-bottom: 0.25rem;
    transition: all 300ms ease;
}

a:hover {
    color: #6415FF ;
    padding-bottom: 0.25rem;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.nav__link--primary:hover {
    background-color: rgb(80 17 204);
}

h1 {
    font-size: 3rem;
}





.purple {
    color: #6415FF;
}


#root {
   /* padding: 32px; */ (unpause it when done !!!)
}

/* NAVIGATION */



.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-size: 0.875rem;
}

.website__name {
    display: flex;
    align-items: center;
    font-size: 1.5rem !important;
    margin-left: 0px !important;
    text-decoration: none !important;
}


.img__logo {
    padding: 0 12px 0 0 ;
    width: 3.5rem;
}


.nav__link--login {
    margin: 0px 24px 0px 48px;
}

.nav__link--primary {
    padding: 0.75rem 2rem !important;
    background-color: #6415FF;
    color: white !important;
    border-bottom-width: 0px;
    border-radius: 9999px;
    margin: 0;
    text-decoration: none !important;
}

.column__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 96px 0px;
    align-items: center;
    justify-content: space-between;
}

.column__left {
    width: 40%;
}

.home-page__subtitle {
   margin: 2rem 0px;
   font-size: 1.125rem;
   line-height: 1.5;
}

.email__container {
    display: flex;
    position: relative;
    cursor: pointer;
    max-width: 90%;
}

input {
    font-size: 100%;
    width: 100%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-right: 12rem;
    padding-left: 2rem;
    border-radius: 9999px;
    border: 2px solid rgb(226, 232, 240) ;
    transition: all 300ms ease;
}

::placeholder{
    color:rgb(160 174 192)
}

input:hover {
   border-color: rgb(160 174 192); 
}

input:focus {
    border-color: rgb(100 21 255);
    outline: transparent solid 0px;
    outline-offset: 0px;
}


.get__started--button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 100%;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    margin-right: 0.5rem;
    padding: 0.9rem;
    border-radius: 9999px;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6415FF;
    color: white;
    font-weight: bold;
    border: none;
    transition: all 300ms ease;
}

.get__started--button:hover {
    background-color: rgb(80 17 204);
    cursor: pointer;
}


.ad-logo__container {
    margin-top: 80px;
    color: #a0aec0;
}

.company__title {
    margin: 0;
    font-size: 12px;
}

.logo__stamps {
    margin-top: 16px;
    padding-right: 128px;
    width: 100%;
    opacity: 0.5;
}

.column__right {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.img__container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}


.home__page--img {
    max-width: 100%;
    max-height: 100%;
}

/* FEATURES */

.features__container {
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading__title{
    font-weight: 700;
    font-size: 16px;
    margin: 0px 0px 16px 0px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.features__heading {
    font-size: 48px;
    margin: 0;
    width: 100%;
    text-align: center;
    font-weight: 900;
    color: #243E63;
}

.features__subtitle {
    margin: 16px 0px 24px 0px;
    color: rgb(124 139 161);
    font-size: 18px;
    font-weight: 500;
    max-width: 36rem;
    line-height: 2;
    text-align: center;
}

.service__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.service__container--row {
    padding: 32px 8px;
    margin: 0px 16px;
    display: flex;
}


.services {
width: calc(100%/ 3)
}

.symbol {
    max-height: 1.5rem;
    max-width: 1.5rem;
}

.symbol__container {
    display: flex;
    align-items: center;
    border: 1px solid rgb(226, 232, 240);
    border-radius: 9999px;
    text-align: center;
    flex-shrink: 0;
    padding: 1.25rem;
    max-height: 1.5rem;
}


.text__container {
    margin: 8px 0px 0px 16px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.025rem;
    color: #243E63;
}

.service__description {
    line-height: 2;
    width: 100%;
    font-weight: 500;
    color:rgb(124 139 161);
}


/* QUALITY WORK  */

.quality__container{
    display: flex;
    flex-direction: row;
    padding: 96px 0px;
}

.quality__work--column-left{
    width: 50%;
    box-sizing: border-box;
    margin-right: 64px;
}

.quality__heading{
    font-size: 48px;
    margin: 16px 0px 0px;
    color: #243E63;
    text-align: left;
}

.quality__para {
    margin: 16px 0px 0px 0px;
    color: rgb(124 139 161);
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
}

.quality__button {
    margin: 32px 0px 0px ;
    padding: 12px 32px;
    border-radius: 999px;
    border: none;
    background-color: #6415FF;
    color: white;
    font-weight: bold;
    font-size: 14px;
    transition: all 300ms ease;
}

.quality__button:hover {
    background-color: rgb(80 17 204);
    cursor: pointer;
}

.quality__work--column-right {
    width: 50%;
    box-sizing: border-box;
}

.quality__img--container {
    width: 100%;
    flex-shrink: 0;
}

.quality__img {
    max-width: 100%;
    border: 1px solid rgb(226, 232, 240); 
    border-radius: 5px;
}

  /* STEPS */

  .steps__container{
    padding: 96px 0px;
    display: flex;
  }

  .steps__column--left{
    width: 50%;
    display: flex;
    align-items: center;
  }

  .steps__img--container, 
  .steps__img  {
    width: 100%;
  }


  .steps__column--right {
    width: 50%;
    padding-left: 8%;
  }

  .steps__heading {
    font-size: 48px;
    color: #243E63;
    margin: 16px 0px 0px;
  }

  .column__steps {
    display: flex;
    margin: 32px 0px 0px;
  }


  .steps__numbers{
    font-size: 36px;
    color: rgb(203 213 224);
    font-weight: 500;
    line-height: 1;
  }
  
  .steps__context--container {
    margin-left: 24px;
  }


  .steps__context--heading {
    margin: 0px;
    color: #243E63;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
  }

  .steps__context--para {
    color: #718096;
    font-size: 14px;
    font-weight: 500;
    margin: 12px 0px 0px 0px;
    line-height: 2;
  }


  /* VALUES */

  
  .value__container {
    padding: 92px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .value__left {
    width: 50%;
  }

  .value__title {
    font-size: 48px;
    color: #243E63;
    margin: 16px 0px 0px 0px;
    text-align: left;
    max-width: 50%;
  }

  .value__para {
    color: rgb(124 139 161);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.625;
    margin-top: 32px;
  }

  .value__features {
    display: flex;
  }

  .value__feature--left {
    margin: 32px 32px 0px 0px;
  }

  .value__feature--right {
    margin-top: 32px;
  }

  .value__feature--title {
    display: flex;
    align-items: center;
    
  }

  .value__logo--container-left,
  .value__logo--container-right {
    padding:9px;
    border-radius: 999px;
    flex-shrink: 0;
  }

  .value__logo--container-left {
    background-color: rgb(154 230 180);
    padding: 10px 14px;
  }

  .value__logo--container-right {
    background-color: rgb(254 178 178);
    padding: 11px 12px;
  }


  .fa-dollar-sign::after{
    width: 20px;
    height: 20px;
    display: flex;
  }


  .feature__heading {
    margin-left: 12px;
    font-size: 20px;
    color: #243E63;
    font-weight: 700;
  }

  .feature__para--left,
  .feature__para--right {
    font-size: 16px;
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
    text-align: left;
  }

  .feature__para--left {
    margin-top: 21px;
  }

  .value__button {
    margin-top: 48px;
    padding: 12px 32px;
    border-radius: 99px;
    background-color: #6415FF;
    color: white;
    font-weight: 700;
    transition: all 300ms ease;
  }

  .value__button:hover {
    background-color: rgb(80 17 204);
    cursor: pointer;
  }

  .value__right{
    width: 50%;
  }

  .value__img {
    width: 100%;
    height: auto;
  }
  
  
  /* /* PRICING  */

  .pricing__container{
    padding: 96px 0px;
  }

  .plans__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }

  .pricing__title {
    font-weight: 700;
    font-size: 16px;
    margin: 0px 0px 16px 0px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  .pricing__heading {
    font-size: 48px;
    color: #243E63;
    margin: 16px 0px 0px;
    text-align: center;
  }

  .pricing__para{
    color: #718096;
    font-size: 18px;
    font-weight: 500;
    margin: 16px 0px 0px 0px;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    max-width: 36rem;
  }

  .plans__container {
    padding-top: 24px;
  }

  .plans {
    display: flex;
  }

  .plan, 
  .plan__2{
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    padding: 8px 32px 0px 32px ;
    border: 1px solid #e2e8f0;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    margin: 64px 32px 0px 0px;
    position: relative;
    border-radius: 10px;
    border-top-width: 0px;
  }

  
  .plan__2 {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%) !important;
    color: #f7fafc;
  }



  .plan__highlight--1,
  .plan__highlight--2 {
    height: 8px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px
  }

  .plan__highlight--1{
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
  }

  .plan__highlight--2 {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
  }

  
  .plan__header {
    display: flex;
    flex-direction: column;
    padding: 32px 0px;
    align-items: center;
    text-transform: uppercase;
  }

  .name,
  .name__2 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.01rem;
  }
    

  .price {
    font-size: 48px;
    font-weight: 700;
    margin: 4px 0px;
    padding: 8px 0px;
  }

  .duration,
  .duration__2 {
    font-size: 16px;
    color: #a0aec0;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }

  .duration__2 {
    color: #f7fafc;
  }

  .plan__features,
  .plan__features--2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    margin-right: -32px;
    margin-left: -32px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-color: rgb(226, 232, 240);
  }

  .plan__features--2{
    border-color: rgb(102 126 234);
  }


  .main__feature {
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
  }

  .feature, 
  .feature__2 {
    font-size: 16px;
    color: #718096;
    margin-top: 20px;
    font-weight: 500;
  }

  .feature__2 {
    color: #e2e8f0;
  }

.plan__action {
    display: flex;
    justify-content: center;
    padding: 32px;
}



  .buy__now--button-1, 
  .buy__now--button-2, 
  .buy__now--button-3 {
    width: 100%;
    padding: 16px 32px;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    transition: all 300ms ease;
  }
  

  .buy__now--button-1  {
    color: white;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
  }

  .buy__now--button-1:hover {
    transform: translate(1px, -1px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }

  .buy__now--button-2 {
    background-color: #f7fafc;
    color: #6415FF;
  }

  .buy__now--button-2:hover {
    background-color: rgb(226 232 240);
    transform: translate(1px, -1px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    color: rgb(70 15 179)
  }
  


  .buy__now--button-3 {
    color: white;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
  }

  .buy__now--button-3:hover {
    transform: translate(1px, -1px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }


  /* SECTION */

  .testimonail__container {
    display: flex;
    padding: 92px 0px;
  }

  .testimonail__left {
    width: 50%;
  }

  .testimonail__img {
    width: 100%;
    height: 100%;
  }


  .testimonail__right{
    width: 50%;
    padding-left: 64px;
  }

  .section__heading {
    margin: 16px 0px 0px;
    color: #243E63;
  }

  .testimonail__para {
    color: rgb(124 139 161);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.625;
    margin-top: 24px;
    margin-bottom: 38px;
  }


  .review__star--container {
    display: flex;
  }

  .review__star {
    margin-right: 4px;
    color: rgb(246 173 85);
  }

  .review__title {
    font-size: 20px;
    margin-top: 16px;
    font-weight: 700;
    letter-spacing: 0.7px;
    color: #243E63;
  }

  .review__para {
    font-size: 16px;
    margin: 16px 0px 40px 0px;
    color: #4a5568;
    line-height: 1.625;
    font-weight: 500;
  }

.customer__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info__left {
  display: flex;
}


.profile__pic {
  width: 80px;
  height: 80px;
  border-radius: 999px;
}

.info {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wifey__name {
  margin: 0;
  font-size: 20px;
  color: #243E63;
  text-align: left;
}

.wifey__role {
  margin-top: 8px;
  font-weight: 500;
  color: rgb(124 139 161);
}

.info__right{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  padding: 16px;
  margin: 0px 12px;
  border-radius: 999px;
  transition: all 300ms ease;
  cursor: pointer;
  background-color: rgb(237 242 247);
}

.fa-arrow-left {
  width: 14px;
  height: 14px;
  color: #6415FF;
}

.divider{
  width: 1px;
  border-right: 1px solid rgb(237 242 247);
  height: 28px;
  margin: 12px 0px;
}

.fa-arrow-right {
  width: 14px;
  height: 14px;
  color: #6415FF;
}

.arrow:hover{
  background-color: rgb(226 232 240);
}


/* BLOG */

.blog__container {
  padding: 92px 0px;
  margin: 92px 0px;
  display: flex;
  flex-direction: row;
  background-color:#6415FF;
  justify-content: center;
  border-radius: 8px
}

.blog__row {
  display: flex;
  padding: 0px 32px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0px 128px;
}

.blog__container--left {
  width: 50%;
}

.blog__para {
  font-size: 30px;
  margin: 0;
  color: #f7fafc;
}

.blog__container--right {
  width: 50%;
}

.get__started--button-2 {
  padding: 20px 40px;
  margin-right: 32px;
  border-radius: 999px;
  background-color: #f56565;
  font-size: 16px;
  color: #f7fafc;
  font-weight: 700;
  transition: all 400ms ease;
}

.contact-us__button{
  padding: 20px 40px;
  border-radius: 999px;
  background-color: #6415FF;
  border: 1px solid rgb(160 174 192);
  font-size: 16px;
  color: #f7fafc;
  font-weight: 700;
  transition: all 400ms ease;
}

.get__started--button-2:hover {
  background-color: rgb(229 62 62);
}

.contact-us__button:hover{
  background-color: rgb(247 250 252);
  color: #6415FF;
}

  /* FOOTER */

  .footer__container {
    padding: 92px 36px;
    margin: 0px -36px;
    background-color: hsl(260, 100%, 54%);
    color: white;
  }

  .footer__features--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__top{
    
  }

  .footer__columns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .footer__column {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .column__heading{
    color: #f7fafc;
    font-size: 16px;
    margin: 0;
  }

  .column__features {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0;
    text-align: left;
  }

  /* FOOTER__LINK AND FOOTER__LINK--FEATURE */

  .footer__link {
    color: #f7fafc;
    font-weight: 300;
    margin: 0;
  }

  